@use '../base/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 18px 0;
  position: sticky;

  @media (max-width: 767px) {
    margin-bottom: 25px;
  }

  &__btn_mobile {
    border: none;
    background: transparent;
    display: none;

    @media (max-width: 767px) {
      display: block;
    }
  }
}

.header__btn.btn {
  @media (max-width: 767px) {
    display: none;
  }
}
