@font-face {
  font-family: 'Onest';
  src: local('Onest'), local('Onest'),
    url('assets/fonts/Onest-Thin.woff') format('woff'),
    url('assets/fonts/Onest-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Onest';
  src: local('Onest'), local('Onest'),
    url('assets/fonts/Onest-ExtraLight.woff') format('woff'),
    url('assets/fonts/Onest-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Onest';
  src: local('Onest'), local('Onest'),
    url('assets/fonts/Onest-Light.woff') format('woff'),
    url('assets/fonts/Onest-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Onest';
  src: local('Onest'), local('Onest'),
    url('assets/fonts/Onest-Regular.woff') format('woff'),
    url('assets/fonts/Onest-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Onest';
  src: local('Onest'), local('Onest'),
    url('assets/fonts/Onest-Medium.woff') format('woff'),
    url('assets/fonts/Onest-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Onest';
  src: local('Onest'), local('Onest'),
    url('assets/fonts/Onest-SemiBold.woff') format('woff'),
    url('assets/fonts/Onest-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Onest';
  src: local('Onest'), local('Onest'),
    url('assets/fonts/Onest-Bold.woff') format('woff'),
    url('assets/fonts/Onest-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Onest';
  src: local('Onest'), local('Onest'),
    url('assets/fonts/Onest-ExtraBold.woff') format('woff'),
    url('assets/fonts/Onest-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Onest';
  src: local('Onest'), local('Onest'),
    url('assets/fonts/Onest-Black.woff') format('woff'),
    url('assets/fonts/Onest-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
